**/*.secret.env         filter=git-crypt    diff=git-crypt
**/*.sqlite3            filter=git-crypt    diff=git-crypt
**/key/**/*.der         filter=git-crypt    diff=git-crypt
**/key/**/*.pem         filter=git-crypt    diff=git-crypt
**/key/**/*.pub.der     filter=git-crypt    diff=git-crypt
.gitattributes          !filter             !diff
